body{
  margin: 0px;
  box-sizing: border-box;

 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
}
.App {
  text-align: justify;
}

.header{
  width: 100%;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px 0px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0px;
 
 
}
.inheader{
  display: flex;
  flex-direction: row;
  margin-bottom: -30px;

}
.header p{
  text-align: center;
  font-size: 12px;
  font-style: italic;
  color: #282c34;
}
.header img{
  width: 60px;
  height: 60px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li{
  padding: 0;
  margin:0
}
h1,h2{
  text-align: center;
}
.body{
  width: 80%;
}
table,td,th
{
  border-collapse: collapse;
  border: 1px solid black;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
th{
  text-align: center;
}
td:nth-child(1){
  text-align: center;
}
td:nth-child(2){
  
  background-color: rgb(255, 247, 232);
}
td:nth-child(3){
  background-color: #ffffd5;
}
td:nth-child(4){
  background-color: rgb(225, 255, 225);
}
td:nth-child(5){
  background-color: rgb(255, 220, 220);
}

td:hover{
  transform: scale(1.10);
  opacity: 2;
  cursor: pointer;
}
td{
  transition: transform 0.2;
}
.countryi{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  
}
.cardclass{
  margin:15px;
  padding :20px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(247, 247, 247);
  text-align: center;
  box-shadow: 2px 5px rgb(231, 230, 230);
  height:150px;
  width:150px;
  z-index:1
}

.cardclass:hover{

  box-shadow: 2px 5px 2px 5px rgb(231, 230, 230);
}
.green:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom ;
  background: rgb(186, 230, 186);
  z-index: -1;
  transition: transform ease-out 0.3s;
 
}

.green:hover::after {
  transform: scaleY(1);
}
.red:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom center;
  background: rgb(235, 169, 169);
  z-index: -1;
  transition: transform ease-out 0.3s;
}

.red:hover::after {
  transform: scaleY(1);
}
.yellow:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom center;
  background:rgb(236, 236, 163);
  z-index: -1;
  transition: transform ease-out 0.3s;
}

.yellow:hover::after {
  transform: scaleY(1);
}
.Orange:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom center;
  background:rgb(255, 221, 157);
  z-index: -1;
  transition: transform ease-out 0.3s;
}

.Orange:hover::after {
  transform: scaleY(1);
}
 
.Search .search-input-wrapper {
  position: relative;
  width: 50%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

}
.Search input {
  -webkit-appearance: none!important;
  appearance: none!important;
  background: #fff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 10px 35px rgb(0 0 0 / 10%);
  color: #6c757d;
  font-size: 1rem;
  height: 2rem;
  outline: none;
  padding: 1rem 1rem 1rem 3rem;
  width: calc(100% - 4rem);
  z-index: -1px;
}
.Search .search-placeholder {
  color: rgba(108,117,125,.6);
  font-size: 1rem;
  left: 3rem;
  opacity: .8;
  pointer-events: none;
  position: absolute;
  top: 1.4rem;
  transition: opacity 1s;
}
.Search .search-button svg {
  color: rgba(108,117,125,.6);
  left: .75rem;
  position: absolute;
  top: 1.25rem;
  transition: all .2s ease-in-out;
}
.Search .search-button img {
  color: rgba(108,117,125,.6);
  right: .75rem;
  position: absolute;
  top: 1.25rem;
  transition: all .2s ease-in-out;
}

.Search .search-button img:hover{
  cursor: pointer;
  transform: rotate(50deg);
}
.disappear{
  display: none;
}
.searchspan .spanbox{
  border:1px solid rgb(196, 192, 192);

  border-top: 0px;
  padding: 5px;
  background-color: rgb(248, 246, 246);
  color: #6c757d;
 
}
.searchspan .spanbox:hover{
  cursor: pointer;
}

.disname{

  color: #266b26;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  
  
}
.disname span{
  background-color: #c3ffcb;
  padding: 10px;
  border-radius: 10px;
}
.countryname span{
  color: #7c2231;
  background-color: #ffc2c2;
  padding: 10px;
  border-radius: 10px;
}
.statename span{
  color: #291f7e;
  background-color: #d4d1ff;
  padding: 10px;
  border-radius: 10px;
}

@media only screen and (max-width:600px){
  table{
    margin: 2px;
    font-size: 10px; 
  }
  table,td,th{
    padding: 4px;
  }
  td:nth-child(1){
   width: 100px;
   overflow: hidden;
  }
  td:nth-child(2){
   width: 30px;
   overflow: hidden;
  }
  td:nth-child(3){
    width: 50px;
    overflow: hidden;
   }
  td:nth-child(4){
    width: 50px;
    overflow: hidden;
   }
  td:nth-child(5){
    width: 50px;
    overflow: hidden;
   }
}